<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>navbar</title>
  </head>
<link rel="stylesheet" href="./css/style.css">
  <style>
  </style>
 <body>
   <div id="data"></div>
   <script type="module">
     import navbar from "./navbar.js"
     import {getdata,append} from "./script/showdata.js"
     var div=document.createElement("div");
     div.innerHTML=navbar()
    document.body.prepend(div)
     getdata('https://fakestoreapi.com/products/category/electronics').then((res)=>{
      var place=document.getElementById("data")
      append(res,place)
     })
    

  </script>
  </body>
</html>
